input{
    border: 0;
    outline: none;
    padding: 16px 0;
}

a, a:hover{
    text-decoration: none;
}

fieldset{
    border: 0;
}

ol, ul, p, dd, dl{
    padding: 0;
    margin: 0;
}

ol, ul{
    list-style: none;
}

button, input{
    overflow: visible;
}